.ke-icon-findReplace {
    background-image: url(data:img/jpg;base64,R0lGODlhEAAQAJkAAAAAAP///9TQyAAAACH5BAEAAAMALAAAAAAQABAAQAIxnI9pAMEgmHsAvXPxrHZbhoFJc5HiIFEphbJfpsSjo3EvqN6qu0I9vmvlTLaFRxYrAAA7);
    background-position: 0px 0px;
    width: 16px;
    height: 16px;
}
.ke-icon-autoFormat {
	background-image: url(data:img/jpg;base64,R0lGODlhEAAQAIgAAAAAAAAAACH5BAEAAAEALAAAAAAQABAAQAIjjB+Aa8q+IJKHNlbxwzaBD35cGGqX2ZAgxz6quMVRO8sTHRQAOw==);
    background-position: 0px 0px;
    width: 16px;
    height: 16px;
}